%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% Leo Backend-DB
%%
%% Copyright (c) 2012-2018 Rakuten, Inc.
%% Copyright (c) 2019 Lions Data, Ltd.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
{require_otp_vsn, "19|20|21|22"}.

{deps, [
        {leo_commons, ".*", {git, "https://github.com/leo-project/leo_commons.git", {tag, "1.2.2"}}},
        {eleveldb,    ".*", {git, "https://github.com/leo-project/eleveldb.git",    {tag, "2.0.38"}}},
        {meck,        ".*", {git, "https://github.com/eproxus/meck.git",            {tag, "0.8.13"}}},
        {proper,      ".*", {git, "https://github.com/manopapad/proper.git", "f5589897de7d87fedf71e8a8298cdfdebb665832"}}
       ]}.

{erl_opts,
 [{platform_define, "^[0-9]+", namespaced_types},
  {platform_define, "^[0-9]+", have_callback_support},
  {platform_define, "^R1[4|5]", deprecated_crypto},
  {platform_define, "^1[8|9]", rand_module},
  {platform_define, "^2", rand_module},
  debug_info
 ]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, []}.
